@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Open+Sans&family=Poppins:wght@600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-image: url(./images/bg-desktop.svg);
    background-repeat:no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
   
    

}

.main{
    /* display: grid; */
    margin-top: 50px;
    height: 100vh;
    display: grid;
   }

h1{
    color:white;
    font-family: 'Poppins', sans-serif;
}

p{
    color: white;
    font-family: 'Open Sans', sans-serif;

}

.intro{
    width: 500px;
}

.commbtn{
   
    padding: 15px;
    color: hsl(257, 40%, 49%);
    /* padding: 10px; */
    border: none;
    border-radius: 30px;
    width: 35%;
    box-shadow: 2px 2px 2px 2px black;
}

.commbtn:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
    cursor: pointer;
}

.illustration_and_text{
    display: flex;
    height: auto;
    margin-left: 60px;
}

.logo{
    margin-bottom: 100px;
    
}

.text-container{
    padding-top: 45px;
    padding-left: 60px;
    
   
}

.hud_icon{
    margin-left: 60px;
}

.social-icons{
    display: flex;
    /* padding-inline: 90%; */
    margin-inline: 1200px;
}




.fb_icon{
   width: 30px;
    
    
}
.fb_icon:hover{
    cursor: pointer;
    fill: hsl(300, 69%, 71%);
    
}

.ic, .fb_icon{
    /* fill:aquamarine; */
    transition: color 0.3s ease;
}

.ic:hover, .fb{
    fill: bisque;
}

.twit_icon{
    margin-left: 30px;
}

.twit_icon:hover{
    cursor: pointer;
}

.inst_icon{
    margin-left: 30px;
}
.inst_icon:hover{
    cursor: pointer;
}

@media (max-width: 500px) {
    body{
        /* width: auto; */
        background-image: url(./images/bg-mobile.svg);
        background-repeat:no-repeat;
        background-size: cover;
        justify-content: center;
        
       
    }

    .main{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: auto;
        
    }

    .container{
        width: 95%;
        /* justify-content: center;new comment */
        text-align: center;
        justify-content: center;
    }

    .logo{
       width:80%;
       margin-bottom: 20px;
     
    }

    .illustration_and_text{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .illustration{
        width:80%;
        padding-left: 0;

    }

    .text-container{
        
        padding-left: 0;
        padding-top: 20px;
        text-align: center;
        width: auto;
        
    }

    .header{
        font-size:large;
    }

    .intro{
       
        justify-content: center;
        width: auto;
    }

    .hud_icon{
        margin-left: 0;
    }

    .social-icons{
        margin-top: 80px;
        margin-inline: auto;
        justify-content: center;
        
    }
  
    

}